{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="mb-4">About HeartHealth Pro</h2>
        <p class="lead">Welcome to HeartHealth Pro, your go-to tool for cardiovascular risk assessment.</p>
        <p>Our cardiovascular risk prediction application utilizes cutting-edge machine learning algorithms to assist healthcare professionals in evaluating the likelihood of heart disease in their patients. By analyzing a comprehensive set of health and clinical indicators, our app serves as an invaluable early diagnosis tool, enabling the identification of individuals at risk of developing heart disease.</p>
        <p>Designed specifically for healthcare professionals, HeartHealth Pro is an indispensable asset in promoting cardiovascular health and preventing heart disease. With its intuitive interface and precise risk assessments, our application facilitates seamless patient evaluation and management, empowering healthcare providers to deliver optimal care.</p>
        <p>Whether you're a physician, nurse, or allied healthcare professional, HeartHealth Pro equips you with the insights needed to deliver personalized care and intervention strategies. By proactively identifying individuals at risk of heart disease, you can initiate timely interventions and safeguard their heart health, ultimately enhancing their overall well-being.</p>
      </div>
    </div>
  </div>
{% endblock %}
