<!-- technical_support.html -->

{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
  <h2 class="mb-4">Welcome to the Technical Support</h2>
  <p>In this section, you will find a range of resources to help you get the most out of our app.</p>

  <h3 class="mb-4">User Manual:</h3>
  <p>Our user manual provides detailed instructions on how to use our app, including step-by-step guides and troubleshooting tips. If you have any questions about how to use our app, please consult the user manual for assistance.</p>

  <h3 class="mb-4">Reading Resources:</h3>
  <p>In addition to our user manual, we also provide a range of reading resources to help you understand more about cardiovascular health and the risk factors associated with heart disease. These resources include articles, studies, and other educational materials that can help you make informed decisions about your heart health.</p>

  <h3 class="mb-4">Model Clarification:</h3>
  <p>Our app uses a machine learning algorithm to predict the likelihood of heart disease based on various health and clinical indicators. The model has been trained on a large dataset of patient records and has been validated for accuracy. However, it is important to note that no prediction model is perfect, and our app should be used as a tool to assist healthcare professionals in their assessment of a patient's heart health, rather than as a substitute for medical advice.</p>

  <p>If you have any technical issues or questions about our app, please don't hesitate to contact our support team. We are here to help you get the most out of our cardiovascular risk prediction application.</p>
</div>
  </div>
</div>
{% endblock %}
