{% extends "base.html" %}
{% block title %} Home Page {% endblock %}

{% block content %}
<div class="container">
    <form id="medical-record-form" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.date.label_tag }}
                {{ form.date }}
            </div>
            <div class="col-md-6">
                {{ form.patient_id.label_tag }}
                {{ form.patient_id }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.age.label_tag }}
                {{ form.age }}
            </div>
            <div class="col-md-6">
                {{ form.sex.label_tag }}
                {{ form.sex }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.chest_pain.label_tag }}
                {{ form.chest_pain }}
            </div>
            <div class="col-md-6">
                {{ form.blood_pressure.label_tag }}
                {{ form.blood_pressure }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.fasting_bs.label_tag }}
                {{ form.fasting_bs }}
            </div>
            <div class="col-md-6">
                {{ form.resting_ecg.label_tag }}
                {{ form.resting_ecg }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.exercise_angina.label_tag }}
                {{ form.exercise_angina }}
            </div>
            <div class="col-md-6">
                {{ form.cholesterol.label_tag }}
                {{ form.cholesterol }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.heart_rate.label_tag }}
                {{ form.heart_rate }}
            </div>
            <div class="col-md-6">
                {{ form.st_depression.label_tag }}
                {{ form.st_depression }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.slope.label_tag }}
                {{ form.slope }}
            </div>
            <div class="col-md-6">
                {{ form.vessels.label_tag }}
                {{ form.vessels }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.thal.label_tag }}
                {{ form.thal }}
            </div>
            <div class="col-md-6">
                {{ form.remarks.label_tag }}
                {{ form.remarks }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary col-md-12">Submit</button>
            </div>
            <div class="col-md-6">
                <button type="reset" class="btn btn-secondary col-md-12">Reset</button>
            </div>
        </div>      
    </form>
    <div id="prediction-outcome" class="mt-3">
        <p id="prediction-message"></p>
    </div>
</div>

<script>
    document.getElementById('medical-record-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent default form submission

        // Serialize form data
        const formData = new FormData(event.target);

        // Send form data to server using fetch API
        fetch('{% url 'process_form' %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Update prediction outcome message
            const predictionOutcome = document.getElementById('prediction-message');
            if (parseInt(data.prediction[0]) === 1) {
                predictionOutcome.textContent = 'Heart disease - Unlikely.';
                predictionOutcome.style.color = 'green';
            } else {
                predictionOutcome.textContent = 'Heart disease - Likely!';
                predictionOutcome.style.color = 'red';
            }

            // Reset form fields
            document.getElementById('medical-record-form').reset();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}